<div class="page_top">
  <h2>イベント一覧</h2>
  <div class="event_search">
    <h3>イベント検索</h3>
    <%= search_form_for @search do |f| %>
      <div class="field" id="title">
        <%= f.label :title_cont, "タイトル（部分一致）" %>
        <%= f.search_field :title_cont %>
      </div>
      <div class="field" id="started_at" >
        <%= f.label :started_at_gteq, "開始日時"%>
        <% if @search.started_at_gteq.present?  %>
          <%= f.text_field :started_at_gteq, class: %Q(date-picker), value: "#{ l @search.started_at_gteq, format: :date}" %>
        <% else %>
          <%= f.text_field :started_at_gteq, class: %Q(date-picker) %>
        <% end %>
        <%= f.label :started_at_lteq_end_of_day, " 〜 " %>
        <% if @search.started_at_lteq_end_of_day.present?  %>
          <%= f.text_field :started_at_lteq_end_of_day, class: %Q(date-picker), value: "#{ l @search.started_at_lteq_end_of_day, format: :date}" %>
        <% else %>
          <%= f.text_field :started_at_lteq_end_of_day, class: %Q(date-picker) %>
        <% end %>
      </div>
      <div class="field" id="user_name">
        <%= f.label :user_name_cont, "運営ユーザー（部分一致）" %>
        <%= f.search_field :user_name_cont %>
      </div>

      <%= f.submit %>
    <% end %>

  </div>

  <%= link_to 'イベント新規作成', new_event_path, class: "btn-flat-double-border" %>
</div>

<div class="event_main">
  <% @events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
</div>
