<div class="form_container">
  <div class="form_main">
    <div class="event_image">
      <% if @event.event_image.url %>
        <%= image_tag @event.event_image.url %>
      <% else %>
        <%= image_tag "no_image.jpg" %>
      <% end %>
    </div>
    <table>
      <tr>
        <th><%= Event.human_attribute_name('title') %>:</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('user_id') %>:</th>
        <td><%= @event.user.name %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('started_at') %>:</th>
        <td><%= @event.started_at.to_s(:default) %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('closed_at') %>:</th>
        <td><%= @event.closed_at.to_s(:default) %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('venue_name') %>:</th>
        <td><%= @event.venue_name %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('venue_address') %>:</th>
        <td><%= @event.venue_address %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('venue_url') %>:</th>
        <td><%= @event.venue_url %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('note') %>:</th>
        <td><%= @event.note %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name('release') %>:</th>
        <td><%= @event.release ? "公開" : "未公開" %></td>
      </tr>
    </table>
  </div>

  <% if current_user.id != @event.user_id %>
    <% if @participant.present? %>
      <%= link_to '参加を解除する', event_participant_path(id: @participant.id), method: :delete, class: 'submit' %>
    <% else %>
      <%= link_to '参加する', event_participants_path(event_id: @event.id), method: :post, class: 'submit' %>
    <% end %>
  <% else %>
    <p><%= link_to 'Edit', edit_event_path(@event), class:"btn-flat-double-border"  %></p>
  <% end %>
  <p> <%= link_to 'Back', events_path, class:"btn-flat-double-border"  %></p>
</div>
