<!DOCTYPE html>
<html>
  <head>
    <title>EventManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_container">
        <div class="header_left">
          <h2>Event Manager</h2>
        </div>
        <div class="header_right">
          <% if user_signed_in? %>
            <%= link_to "イベント一覧", events_path, class: "header_item btn-flat-double-border" %>
            <%= link_to "マイページ", user_path(current_user), class: "header_item btn-flat-double-border" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_item btn-flat-double-border" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "header_item btn-flat-double-border" %>
            <%= link_to "ログイン", new_user_session_path, class: "header_item btn-flat-double-border" %>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <div class="flash_message">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
